@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');

@font-face {
    font-family: 'adihaus';
    src: url('fonts/AdihausDIN.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
  font-family: AdihausDIN, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 16px;
}

.nav-container {
  margin: auto;
  width: 85%;
  display: flex;
  vertical-align: middle;
  padding-left: 15px;
  padding-top: 10px;
}

.icon {
  margin-right: 5px;
}

ol.nav-list {
  list-style: none;
}

ol.nav-list li {
  display: inline;
  font-size: 14px;
  margin: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.back-container {
  cursor: pointer;
}

.size-helper:hover, .review-link:hover, .back-container:hover, ol.nav-list li:hover {
  color: white;
  background-color: black;
}

.main-component {
  background-color: #ebedee;
  position: absolute;
  width: 100%;
  height: 620px;
  overflow: hidden;
}

.center {
  position: relative;
  margin: auto;
  left: 7%;
  display: flex;
}

.image-container {
  height:620px;
  position: relative;
  left: 0;
  top: 0;
  padding-right: 0;
  padding-left: 0;
  width: 55%;
}
.gallery-container {
  width: 54px;
  max-height: 438px;
  position: absolute;
  left: 15px;
  top: 80px;
  bottom: 60px;
  overflow: hidden;
  display: block;
  margin: auto 5px;
}

.thumbnail {
  border: 1px solid #767677;
  margin-bottom: 10px;
  cursor: pointer;
  height: auto;
}

.thumbnail:hover {
  border-bottom: 2px solid black;
}

.thumbnail img {
  width: 100%;
  display: block;
  height: auto;
  max-width: 100%;
}

.current-container {
  position: absolute;
  left: 75px;
  width: 620px;
  height: 100%;
  margin-left: 30px;
}

.current-container img {
  width: 100%;
  height: 100%;
  max-width: none;
  cursor: zoom-in;
}

.left-arrow, .right-arrow {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  transition: transform 0.3s ease;
}
.left-arrow {
  left: 1%;
  transform: translateX(20px);
}
.right-arrow {
  right: 1%;
}

.right-arrow:hover, .left-arrow:hover {
  transform: translateX(10px);
}

.info-container {
  background-color: white;
  padding: 20px;
  display: block;
  width: 25%;
  height: 100%;
}

.star-ratings {
  margin-right: 10px;
}

.product-info-container {
  display: block;
  width: 100%;
}

.star-review-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.category {
  text-transform: uppercase;
  margin: 0 0 2px;
  color: #767677;
  font-size: 13px;
  line-height; 17px;
  letter-spacing: 2px;
}

.model {
  margin-top: 0px;
  margin-bottom: 7px;
  font-size: 26px;
  line-height:24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
}

.related-container {
  margin-bottom: 40px;
  margin-top: 15px;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.related-container h5 {
  width: 100%;
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.related-container ol {
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
  color: #767677;
  width: 100%;
}

.related-container li {
  display: inline;
  font-size: 14px;
  margin: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:100%;
}

.other-colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.other-thumbnail {
  max-width: 70px;
  cursor: pointer;
  margin: 0 10px 10px 0;
  display: block;
  position: relative;
  height: 70px;
}

.checkout-container {
  width: 100%;
}

.size-helper {
  cursor: pointer;
  display: inline;
}

.glyphicon-th {
  margin-right: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.dropdown {
  margin: 10px 5px 5px 10px;
}
.dropdown-toggle{
  background-color: white;
  color: black;
  height: 50px;
  width: 100%;
  border: 1.01565px solid #767677;
  border-radius: 0;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: auto;
}

.dropdown-table {
  width: 70%;
}
.dropdown-size {
  width: 18%;
}

.dropdown-size .dropwdown-menu:hover {
  background-color: #767677;
}

.dropdown-size .dropdown-menu {
  padding-top:0;
  padding-bottom: 0;
  width: 100%;
  min-width: 0;
  font-size: 13px;
  text-align: center;
  font-weight: 700;
}

.dropdown-menu {
  overflow: auto;
  height: 150px;
}

.dropdown-item {
  font-weight: 700;
  height: 50px;
  border: 1.01565px solid #767677;
}

.glyphicon-arrow-right {
  color: white;
}

.bag-button {
  margin:5px 12px 10px 10px;
  color: white;
  background-color: black;
  width: 72%;
  padding: 0 21px;
  line-height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
}

.bag-button span {
  width: 85%;
}

.bag-button::after {
  content:"";
  display: block;
  position: absolute;
  left:3px;
  top:3px;
  width:100%;
  height:100%;
  box-shadow: inset 0 0 0 1px #000;
}

.bag-button:hover {
  color:  #767677;
}

.heart {
  border: black 1px solid;
  height: 50px;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.heart:hover {
  font-size: 20px;
  opacity: .8;
}

.glyphicon-plane {
  margin-right: 5px;
}

.shipping {
  margin-top: 10px;
}
.shipping .container span {
  cursor: pointer;
}

.shipping .container span:hover {
  color: white;
  background-color: black;
}

.carousel-container {
  position: relative;
  border: 1px solid black;
  height: 600px;
  margin: auto;
}

.carousel-current {
  display: block;
  height: 580px;
  margin: auto;
}

.exit-container {
  position: absolute;
  top: 1px;
  right: 32px;
  border: 1px solid black;
  width: 34px;
  height: 34px;
  padding-top: 5px;
  text-align: center;
  background-color: white;
  cursor: pointer;
}
